$primary: #0d6efd;


@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/_variables";



$custom-theme-colors: (
    "altSec": #E6F4F1,
    "altblue":#20C197,
    "altYellow":#f7cd2e,

);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);


@import '../node_modules/bootstrap/scss/bootstrap';
 