.org_card{
    font-family: "Source Sans Pro", sans-serif;
    background-color: #fff;
    display: flex;
    
    width: 100%;
    
    height: 60px;
    border-radius: 0 0 10px 10px;
    align-content: center;
    vertical-align: middle;
    transition-property: all;
    transition-duration: 500ms;
    align-items: center;
    /* justify-content: flex-end; */
    flex: 1 1 0%;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.org_card:hover{
    --tw-translate-y: -0.25rem;
    transform: translateY(var(--tw-translate-y));
    transform: scale(1.01);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.org_card__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.org_card__text{
    
    text-align: center;
}

.org_card__value{
    text-align: right;
}
