.main{
    display: flex;
    justify-content: center;
}
.mainGrid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 2.5rem;

}

.card{
    display: flex;
    height: 50vh;
    width: 20vw;
    background-color: #0d6efd;
    border-radius: 25px;
}