.dash_grid{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1.5rem;
}

.emp_grid{
    display: flex;
    flex-direction: column;
    background-color: #fff;

    margin-top: 50px;
    padding: 0;
    border-radius: 30px;
    height: 70vh;
    min-height: 70vh;
    max-height: 70vh;
    width: 90%;
    align-items: center;
    overflow: auto;
}

.emp_card{
    padding: 0;
}

.emp_others{
    
    background-color: #fff;
    padding: 20px;
    margin-top: 50px;
    border-radius: 30px;
    height: 70vh;
    min-height: 70vh;
    max-height: 70vh;
    justify-content: center;
    align-content: center;
    overflow: auto;
}

.emp_slab1{
    display: grid;
    grid-template-columns: 50% 50%;
}